@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-61xl: 80px;
  --font-size-31xl: 50px;

  /* Colors */
  --color-darkcyan: #0a9396;
}
